body{
	padding: 0;
	margin: 0;
}

nav{
	font-family: "Kathen";
	font-size: 24px;
	list-style: none;
	text-transform: uppercase;
	background-color: #e0dedb;
	text-align: center;
}

nav li{
	padding: 5px;
}

.current-page{
	color: gray;
}

nav a{
	color: #ce8e1e;
}

nav a:hover{
	text-decoration: underline;
	color: #ce8e1e;
}

div{
	font-size: 170px;
	text-align: center;
	font-family: Kathen;
	padding-left: 50px;
	text-align: left;
	line-height: 200px;
}


video{
	width: 100%;
}

.name{
	position: absolute;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

#last{
	top: 220px;
}