/*Whole doc*/
body{
	margin: 0;
	background-color: #e0dedb;
}

/*Navigation bar*/
nav{
	font-family: "Kathen";
	font-size: 24px;
	list-style: none;
	text-transform: uppercase;
	background-color: #e0dedb;
	text-align: center;
}

nav li{
	padding: 5px;
}

.current-page{
	color: #756d61;
}

nav a{
	color: #ce8e1e;
}

nav a:hover{
	text-decoration: underline;
	color: #ce8e1e;
}

/*Top bar w/ background image*/
/*h1{
	font-family: "Kathen";
	font-weight: bold;
	font-size: 110px;
	line-height: 5px;
	text-decoration: none;*/
}

.top{
	padding: 2% 2.5% 2% 2.5%;
	margin-bottom: 0;	
}

div img{
	width: 85%;
	padding: 2.5% 0 2.5% 10%;
}

/*image*/
/*#background{

}*/


/*#name{
	left: 15%;
	top: 30%;
	position: absolute;
	color: #262225;
}

#lissa{
	opacity: 0;
}

#melissa{
	padding-left: 50px;
}

#melissa, #lissa{
	display: inline-block;	*/
	/*text-align: right;*/
}

a{
	text-decoration: none;
	color: #262225;
}

a:hover #lissa{
	text-decoration: none;
	opacity: 1;
	color: #f28424;
}

a:hover #melissa{
	color: #f28424;
}


a:visited{
	text-decoration: none;
}


/*About me paragraph*/
.description{
	padding-top: 7%;
	margin-top: 0;
	padding-left: 2%;
	padding-right: 2%;
	background-color: white;
	font-family: "Neuton";
	font-size: 24px;
	line-height: 30px;
	vertical-align: middle;

}

#bio{
	font-family: "Kathen";
	padding-right: 3px;
}

ul{
	padding-left: 15%;
}

.facts{
	font-family: "Kathen";
	color: #434447;
}

/*Contact me info*/
.icons{
	background-color: #e0dedb;
	padding-bottom: 0;
}

.username{
	font-family: "Kathen";
	font-weight: bold;
	font-size: 24px;
	color: #ce8e1e;
	text-align: left;
	padding-top: 2%;

}

.logo{
	width: 45%;
	padding-top: 10%;
}

@media all and (max-width: 576px){


}
